$breakpoint-mobile: 0px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


$font-primary:"Big Shoulders", sans-serif;
$font-secondary:'Outfit', sans-serif;

$pink-light: #D5966C;
$black-color: #151515;
$gray: #444444;
$white: #FFFFFF;

