@import 'mixins';
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}


header {
    width: 100%;
    .hero {
        @include respond-to(tablet){
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            overflow: hidden;
        }
        @include respond-to(desktop){
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            overflow: hidden;
        }
    }
    .hero_text {
        @include respond-to(tablet) {
        display: grid;
        grid-template-columns: 1fr;
        position: absolute;
        top: 124px;
        left: 382px;
        width: 400px;
        height: 220px;
        gap: 15px;
        }
        @include respond-to(desktop) {
            display: grid;
            grid-template-columns: 1fr;
            position: absolute;
            top: 124px;
            left: 60%;
            width: 400px;
            height: 220px;
            gap: 15px; 
        }

    
    }
    img.tablet {
        display: none;
        @include respond-to(tablet) {
          display: block;
          width: 451px;
          height: 694px;
        }
        @include respond-to(desktop){
            display: block;
            position: relative;
            left: 70%;
            width: 411px;
            height: 645px;
        }
      }
       img.mobile {
        display: block;
        @include respond-to(tablet) {
          display: none;
        }
        @include respond-to(desktop) {
            display: none;
        }
      }
    .fondo {
        @include respond-to(desktop) {
            position: absolute;
            left: 0;
            top: 0;
            width: 35%; 
            height: 100%;
            background-color: $black-color;
            z-index: 1;
        }
    }

     h1 {
    font-size: 71px;
    line-height: 88px;
    font-weight: 900;
    color: $black-color;
    margin: 20px;
    @include respond-to(tablet){
        font-size: 70px;
        line-height: 70px;
        font-weight: 900;
        color: $black-color;
        margin: 20px;
    }
    @include respond-to(desktop){
        font-size: 70px;
        line-height: 70px;
        font-weight: 900;
        color: $white;
        margin: 20px;
        transform: translatex(-154%);
        z-index: 2;
        position: relative;
        top: -16%
    }


}
    p {
        font-family: $font-secondary;
        font-size: 20px;
        line-height: 30px;
        margin: 16px;
        margin-bottom: 40px;
        color: $gray;
        @include respond-to(tablet){
            margin-botton: 75px;
        }

        @include respond-to(desktop) {
            font-family: "Outfit", sans-serif;
            line-height: 30px;
            margin: 16px;
            margin-bottom: 40px;
            color: $gray;
            transform: translateY(-149%);
            font-size: 23px;
            
        }
            
        
    }
    
    span {
        padding: 20px 14px;
        background-color: $black-color;
        text-decoration: none;
        font-size: 18px;
        font-family: $font-primary;
        font-weight: 900;
        letter-spacing: 5px;

        @include respond-to(desktop){
            padding: 21px;
        }
        
    }

    a {
        text-decoration: none;
        font-size: 18px;
        font-family: $font-primary;
        font-weight: 900;
        letter-spacing: 5px;
        margin:16px ;
        margin-right: 0;
        color: $white;
        @include respond-to(desktop) {
            transform: translateY(-149%);
            font-size: 20px;   
        }
    
    }
    i {
        background-color: $pink-light;
        padding: 20px;
        font-size: 18px;
        margin-left: -10px;
        @include respond-to(tablet){
            margin-left: -10px;
        }
        @include respond-to(desktop){
            margin-left: -10px;
            font-size: 18px;
            padding: 21px;
        }
        

    }
    a:hover {
        background-color: $pink-light;

        i {
            background-color: $black-color;
        }

        span {
            background-color: $pink-light
        };
    }   
}  

.btn {
  
    
    @include respond-to(desktop) {
        transform: translateY(-761%) ;
    }

}
  
.mobile-br {
    display: inline; 
    @include respond-to(desktop){
        display: none;
    }   

}
.desktop-br {
    display: none; 
    @include respond-to(desktop){
        display: inline;
    }
}
.arti  {

    img{
        margin-left: 9px;
    }

    h2 {

        font-size: 60px;
        line-height: 60px;
        font-weight: 900;
        color: $black-color;
        margin: 20px;
        text-transform: uppercase;
        margin-left:9px;
    }
    p {
        font-family: $font-secondary;
        font-size: 20px;
        line-height: 30px;
        margin: 16px;
        margin-bottom: 40px;
        color: $gray; 
    }
    
    img:nth-of-type(3),
    img.uno {
        margin-top: 120px ;
    }
    @include respond-to(tablet) {
        display: flex;
        flex-direction: row-reverse;
        
        img {
            width: 55%;
    
        }

        article{
            margin-top: 120px;
            
        }
        p{
            margin: 45px;
            position: relative;
            left: -32px;
            top: -19px;
        }
    }
    
    @include respond-to(desktop) {
        display: flex;
        flex-direction: row-reverse;
        width: 80%;
        margin-inline: auto;
        
        img {
            max-width: 500px;
            height: 300px;
    
        }

        article{
            margin-top: 120px;
            max-width: 415px;
            
        }
        p{
            margin: 45px;
            position: relative;
            left: -32px;
            top: -19px;
        }
    }
}

.gallery{
    @include respond-to(tablet){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-bottom: 300px;
    margin-top: 1%;

    img:first-of-type {
        width: 115%;
        height: 125%;
        grid-column: 1;
        grid-row: 1;
        
    }
    img:nth-of-type(2) {
        width: 80%;
        grid-column: 2;
        grid-row: 1;
        height: 61%;
        margin-left: 20%;
        z-index: 1;
    }

    .back {
        grid-column: 2;
        grid-row: 1;
        z-index: 2;
        position: relative;
        margin: 0;
        padding: 5%;
        align-self: end;
        height: 63%;
        width: 79%;
        left: 20%;
        top: 25%;
    }
}
    @include respond-to(desktop) {
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-bottom: 200px;
    margin-top: 1%;
    width: 85%;
    margin-inline: auto;
    gap: 15px;

    img:first-of-type {
        width: 93%;
        height: 111%;
        grid-column: 1;
        grid-row: 1;
        margin-left: 150px;
        
    }
    img:nth-of-type(2) {
        width: 79%;
        grid-column: 2;
        grid-row: 1;
        height: 54%;
        margin-left: 20%;
        z-index: 1;
    }

    .back {
        grid-column: 2;
        grid-row: 1;
        z-index: 2;
        position: relative;
        margin: 0;
        padding: 2%;
        align-self: end;
        height: 54%;
        width: 79%;
        left: 20%;
        top: 11%;
    }
    }
}



.gallery {
    img{
        margin-left:9px;

    }
    img:first-of-type {
        margin-bottom: 15px;
    }

    img:last-of-type {
        margin-bottom: 15px;
    }
   


}

.back {
    background-color: $black-color;
    padding: 20px;
    margin-left: 9px;
    padding-bottom: 12px;
    margin-bottom: 100px;
    margin-right: 9px;
    h2 {
        font-size: 60px;
        line-height: 60px;
        font-weight: 900;
        color: $white;
        margin: 20px;
        text-transform: uppercase;
        margin-left:9px;
    }

    p {
        font-family: $font-secondary;
        font-size: 20px;
        line-height: 30px;
        margin: 16px;
        margin-bottom: 40px; 
        color: $white
        
    }

    @include respond-to(tablet) {
        padding-bottom: 45px;
    
    }
}


.last {
    background-color: $black-color;
    padding: 25px;
    
    p{
        font-family: $font-secondary;
        font-size: 18px;
        line-height: 30px;
        margin: 16px;
        margin-bottom: 40px; 
        color: $white
    }
    @include respond-to(tablet){
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        p{
            width: 42%;
            margin-top: 0;
            margin-bottom: 20px;
        }
        img{
            width: 143px;
            height: 49px;
        
        }
    }
    @include respond-to(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 100px;
        padding-bottom: 70px;
        p{
            width: 39%;
            margin-top: 0;
            margin-bottom: 20px;
        }
        img{
            width: 143px;
            height: 49px;
        
        }
    }
}

div.maps {
    img.tablet {
        display: none;
        @include respond-to(tablet) {
          display: block;
          width: 100%;
        }
        @include respond-to(desktop) {
            display: none;
        }   
    
    }
    img.mobile {
        display: block;
        @include respond-to(tablet) {
          display: none;
        }
        @include respond-to(desktop) {
            display: none;
        }
    } 
    img.desktop {
        display: none;
        @include respond-to(tablet){
            display: none;
        }
        @include respond-to(desktop) {
            display: block;
            width: 100%;
        }
    }   
    i {
        position: absolute;
        background-color: $pink-light;
        padding: 25px;
        font-size: 20px;
        left: -75px;
        top: 0px;
    }
        
    a {
        position: absolute;
        left: 76px;
        text-decoration: none;
        background-color: $black-color;
        font-size: 20px;
        font-family: $font-primary;
        font-weight: 900;
        letter-spacing: 5px;
        padding: 25px;
        margin-right: 0;
        color: $white;
        text-transform: uppercase;
    }
   
    a:hover {
        background-color: $pink-light; 
      
        i {
          background-color: black; 
        }
      
      }
    @include respond-to(tablet){
        a{
            left: 95px;
        }

        i {
            left: -74px;
            top: 0;
        }
    }

    @include respond-to(desktop) {
        a{
            left: 250px;
        }

        i {
            left: -72px;
            top: 0px;
    
        }
    }
}

.ubi {
    background-color: $black-color;
    padding: 20px;
    h2 {
        font-style: normal;
        font-size: 60px;
        line-height: 45px;
        font-weight: 900;
        color: $white;
        margin: 20px;
        margin-left:9px;
        font-family: $font-primary;
        margin-bottom: 45px;
    }

    h3{
        font-family: $font-primary;
        color: $pink-light;
        font-style: normal;
        font-size: 42px;
        margin-left:9px;
        margin-bottom: 10px;
    }

    p {
        font-family: $font-secondary;
        color: $white;
        font-size: 19px;
        line-height: 28px;
        font-style: normal;
        margin-left: 9px;
    }

    p:last-of-type {
        margin-top: 15px;
    }
    @include respond-to(tablet) {
        display: flex;
        padding: 62px;
        font-style: normal;
        align-items: flex-start;

        h2 {
            line-height: 54px;
        }
    }

    @include respond-to(desktop) {
        display: flex;
        padding: 62px;
        font-style: normal;
        align-items: flex-start;

        h2 {
            line-height: 54px;
        }
        
        article {
            margin-left: 470px;
        }
    }
}

.last.location {
    background-color: $pink-light;
    padding: 35px;
    
    

    img{ 
        width: 115px;
        height: 48px;
    }
    
    p{
        
        font-family: $font-secondary;
        font-size: 18px;
        line-height: 30px;
        margin: 16px;
        margin-bottom: 40px; 
        color: $black-color
    }

}